{% extends "base.html" %}
{% load static %}


{% block content %}


<!--Slider-->


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">

    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

  </div>
  <div class="carousel-inner">

    {% for slider in sliders %}

    <div class="carousel-item 
    {% if slider.active == 1 %}
      active
    {% endif %}
      ">
      <img src="{{slider.image}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <button class="btn btn-primary" type="button">Shop Now</button>
        <h1 class="offer-heading">{{slider.name}}</h1>
        <p>{{slider.tagline}}</p>
      </div>
    </div>

    {% endfor %}




  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--End-->


<!--Product Grid-->

<div class="container-fluid mt-4">

  <div class="text-center">
    <h2>T-shirts</h2>
  </div>


  <div class="row">

    {% for product in products %}


    <div class="col-md-3">
      <img src="{{product.main_image}}" style="height: 250px; width: 200px;" />
      <div class="text-center mt-4">
        <h4>{{product.name}} ({{product.category.name}})</h4>
        <h5>₹ {{product.price}}</h5>

        <button class="btn btn-primary">

          Add to Cart

          {% if product.discount > 0 %}
          ({{product.discount}} % OFF)
          {% endif %}

        </button>
      </div>
    </div>

    {% endfor %}



  </div>

</div>

<div class="container-fluid mt-4">

  <div class="text-center">
    <h2>Jeans</h2>
  </div>


  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/products/product1.jpg' %}" />
      <div class="text-center mt-4">
        <h4>Product 1</h4>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/products/product1.jpg' %}" />
      <div class="text-center mt-4">
        <h4>Product 2</h4>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/products/product1.jpg' %}" />
      <div class="text-center mt-4">
        <h4>Product 3</h4>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/products/product1.jpg' %}" />
      <div class="text-center mt-4">
        <h4>Product 4</h4>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</div>



<!--End-->



<!--banners-->

<div class="container-fluid mt-4">

  <div class="row">

    <div class="col-md-6 banner-img1">
      <div class="text-center mt-4 shop-btn">
        <button class="btn btn-primary btn-lg">Shop Now</button>
      </div>

    </div>

    <div class="col-md-6 banner-img2">
      <div class="text-center mt-4 shop-btn">
        <button class="btn btn-primary btn-lg">Shop Now</button>
      </div>
    </div>

  </div>

</div>

<!--end-->


{% endblock content %}